.main {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  min-width: 100vw;
}
html {
  overflow: hidden;
}

.main > img {
  position: absolute;
  height: 300vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
}

#root{
  overflow: hidden;
}

body {
  overflow: hidden;
}

@keyframes circle-1 {
  from {
    border: 1px solid #ffac3a;
    background-color: #ffac3a;
    transform: scale(0);
  }
  99% {
    border: 1px solid #ff3f1f;
    background-color: rgba(255, 169, 58, 0.71);
    transform: scale(0.99);
  }
  to {
    border: 1px solid #ff3f1f;
    background-color: rgba(255, 169, 58, 0.39);
    transform: scale(1);
    opacity: 0;
  }

}



